.navbar-container {
  position: fixed;
  background-color: rgb(116, 140, 148);
  top: 0px;
  height: 50px;
  width: 100%

}

.disabled-button{
  border: none;
  color: rgba(255, 255, 255, 0.271);
  background-color: rgba(89, 89, 89, 0.645); 
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: not-allowed ;

}

.navButton{
  border: none;
  color: white;
  background-color: rgb(49, 39, 39); 
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.currentAlgorithmButton{
  border: none;
  color: white;
  background-color: rgb(0, 255, 0); 
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;

}

.slider {
  -webkit-appearance: none;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity:1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00ff37;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}